@import "../../../styles/utils";

.order-complete-content{
  display: flex;
  flex-direction: column;
  border-top: 2px solid $oc-gray-9;
  .info{
    padding: 2rem;

    .label-header{
      font-size: 1.5rem;
      text-align: center;
    }
    ul{
      margin-top: 2rem;
      margin-left: 25rem;
      align-items: center;
      justify-content: center;
      li{
        font-size: 1rem;
      }
    }
  }
}